**/.git
**/node_modules
**/dist
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv
**/.env
**/.env.*
!**/.env.example
backend/media/*
backend/staticfiles
ml-worker/models/*
!ml-worker/models/.gitkeep
**/*.sqlite3
